@import 'sass/animals';
@import 'sass/animalsform';
@import 'sass/choise';
@import 'sass/customers';
@import 'sass/login';
@import 'sass/dashboard';
@import 'sass/petsprudcts';
@import 'sass/salesdetail';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #636363;
  font-family: sans-serif;
}
