body {
    font-family: Arial, Helvetica, sans-serif;
}
.navbaranimals {
    overflow: hidden;
    background-color: #4CAF50;
    height: 70px;
    border: 3px solid green;
}
.navbaranimals a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
  
}
.navbaranimals-right {
    float: right;
}
fieldset { 
	background: white;
	padding: 10px;
   margin:auto;
   max-width:593px;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #4CAF50;
}
.formanimals {
    margin-top: 2%;
}
